<form class="grid formgrid">

    <div class="col-5">
        <mat-form-field class="w-full">
            <mat-label>Nombre</mat-label>
            <input matInput type="text">

        </mat-form-field>
    </div>

    <div class="col-5">
        <mat-form-field class="w-full">
            <mat-label>Apellido</mat-label>
            <input matInput type="text">

        </mat-form-field>
    </div>

    <div class="col-5">

        <mat-form-field class="w-full">
            <mat-label>Email</mat-label>
            <input matInput type="email">

        </mat-form-field>
    </div>

     


    <div class="col-5">

        <mat-form-field class="w-full">
            <mat-label>Edad</mat-label>
            <input matInput type="number">

        </mat-form-field>

    </div>

    <div class="col-12 flex justify-content-end">
<button mat-flat-button color="primary"> GUARDAR</button>

    </div>


</form>